<div ng-app="StackshareTagAdvisorApp">
  <h1>What type of company do you work for?</h1>

  <div ng-controller="TagListCtrl">

    <form class="gap">
      <input type="text" ng-model="query" class="form-control input-lg" placeholder="Filter by typing here">
    </form>

    <div class="text-center lg-gap" ng-hide="loaded">
      <%= image_tag 'loading.gif' %>
    </div>

    <div class="row gap" ng-show="loaded">
      <div class="col-md-3" ng-repeat="tag in tags | filter:query">
        {{tag.humanized_name}} (<a href="/tags/{{tag.id}}/most_popular_stack">stack</a> | <a href="/tags/{{tag.id}}/most_popular_tools">tools</a>)
      </div>
    </div>

  </div>
</div>
