<div ng-app="StackshareTagAdvisorApp">
  <h1>What type of company do you work for?</h1>

  <div ng-controller="TagListCtrl">

    <form class="gap">
      <input type="text" ng-model="query" class="form-control input-lg" placeholder="Filter by typing here">
    </form>

    <div class="row gap">
      <div class="col-md-3" ng-repeat="tag in tags | filter:query">
        <a href="/tags/{{tag.id}}/advice">{{tag.humanized_name}}</a>
      </div>
    </div>

  </div>
</div>
